/* Custom styling 
*/


.logo {
	text-align: center;
}
.tagline {
	color: #711F6D;
	font-family: 'Oswald', sans-serif;
	font-style: italic;
	font-size: 2.5em;
	text-align: center;
	padding-top: 1.1em;
}

p,h1,label,
h2,h3,th,td
{
	font-family:'Oswald', sans-serif;
}
.siteinfo {
	
	padding: 3em 0;
	border-top: 5px solid #bbb;
    text-align: center;
    font-size: 15px;
}


.img-responsive {
 display: block;
 height: auto;
 width: 100%;
margin-bottom: 3%;
}

#imgresp{
 display: block;
 height: auto;
 max-width: 150%;
}


.label{
    
    color: #FAFAD2;
}

.form-group button {
	margin-top: 35px;
    margin-right: 300px;
}

form .col-sm-2,
form .col-sm-10 {
	padding: 3px 5px;
	margin: .1px;
    width: 45%;
}

@media screen and (min-width: 780px) and (max-width: 960px) {

#imgresp{
 display: block;
 height: auto;
 max-width: 100%;
}
}
@media screen and (min-width: 500px) and (max-width: 779px) {

#imgresp{
 display: block;
 height: auto;
 max-width: 100%;
}


}

@media screen and (max-width: 400px) {

#imgresp{
 display: block;
 height: auto;
 max-width: 100%;
}
    
    
}


		
